<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
  </startup>
  <appSettings>
    
    <!-- Google Custom Search JSON API https://developers.google.com/custom-search/json-api/v1/overview -->
    <add key="GoogleURL" value="https://www.googleapis.com/customsearch/v1?key={GoogleAPI}&amp;cx={GoogleCSE}&amp;q={QUERY}" />
    <add key="GoogleAPI" value="YOUR_GOOGLE_API_KEY_HERE" />
    <add key="GoogleCSE" value="YOUR_CSE_KEY_HERE" />
    
    <!-- Bing Custom Search -->
    <!--  https://azure.microsoft.com/fr-fr/try/cognitive-services/-->
    <add key="BingURL" value="https://api.cognitive.microsoft.com/bingcustomsearch/v7.0/search?q={QUERY}&amp;customconfig={BingCustomConfig}" />
    <add key="BingAPI" value="YOUR_BING_API_KEY_HERE" />
    <add key="BingCustomConfig" value="YOUR_BING_CUSTOM_KEY_HERE" />

    
  </appSettings>
</configuration>